.headerItem {
  background-color: #00bfff;
  color: white;
  border: 1px solid grey;
  margin-left: 10px;
  border-radius: 5px;
}

.headerLogo {
  max-width: 130px !important;
  max-height: 600px !important;
}
