.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header,
footer {
  height: 100px;
}

.sidebar {
  width: 100px;
  padding: 10px;
}

.content,
.center {
  flex: 1;
}

.content {
  display: flex;
}
