.p2pImage {
    position: relative;
    width: 300px;
    height: 50px;
    margin-top: 8%;
}

.headerLogo {
    width: 170px;
    height: 85px;
}

.snifComponent {
    padding-left: 15px;
}

.card {
    transform: scale3d(1, 1, 1);
    transition: 0.5s;
}

.card:hover {
    transform: scale3d(1.05, 1.05, 1);
    border: 1px solid rgb(42, 165, 246);
    transition: 0.5s;
}